[Unit]
Description=the_forest: a networked lighting control system
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/phillipstearns/the_forest/the_forest.py
RestartSec=5
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
